<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="lp"
            icon="icons/editor.png"
            contributorClass="hu.radioactiveworks.lumiere.lumen.project.editors.LightProgramEditorContributor"
            class="hu.radioactiveworks.lumiere.lumen.project.editors.LightProgramEditor"
            id="hu.radioactiveworks.lumiere.lumen.project.editors.LightProgramEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name"
            id="hu.radioactiveworks.lumiere.lumen.project">
      </category>
      <wizard
            name="%wizard.program.name"
            icon="icons/program.png"
            category="hu.radioactiveworks.lumiere.lumen.project"
            class="hu.radioactiveworks.lumiere.lumen.project.wizards.NewLightProgram"
            id="hu.radioactiveworks.lumiere.lumen.project.wizards.NewLightProgram">
      </wizard>
      <wizard
            category="hu.radioactiveworks.lumiere.lumen.project"
            class="hu.radioactiveworks.lumiere.lumen.project.wizards.NewLightProject"
            icon="icons/project.png"
            id="shu.radioactiveworks.lumiere.lumen.project.wizards.NewLightProject"
            name="%wizard.project.name"
            project="true">
      </wizard>
   </extension>
   <extension
         id="hu.radioactiveworks.lumiere.lumen.project.nature.lightProgramNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="hu.radioactiveworks.lumiere.lumen.project.nature.AddRemoveLightProgramNatureHandler">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="hu.radioactiveworks.lumiere.lumen.project.nature.lightProgramNature.category"
            name="LightProgram Nature commands">
      </category>
      <command
            categoryId="hu.radioactiveworks.lumiere.lumen.project.nature.lightProgramNature.category"
            id="hu.radioactiveworks.lumiere.lumen.project.nature.addRemoveLightProgramNature"
            name="Add/RemoveLightProgram Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="hu.radioactiveworks.lumiere.lumen.project.nature.addRemoveLightProgramNature"
               label="Deconfigure Lumiere Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="hu.radioactiveworks.lumiere.lumen.builder.lightProgramNature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="hu.radioactiveworks.lumiere.lumen.project.nature.addRemoveLightProgramNature"
               label="Configure Lumiere Project"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="hu.radioactiveworks.lumiere.lumen.builder.lightProgramNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
